h1{
    color: #050000;
    text-decoration: underline;
    font-size: 50px;
    margin-bottom: 25px;
    text-align: center;
}

img{
    float: right;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}
